*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 234, 237);
}

h3{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 29px;
    border-radius: 10px;
    width: 311px;
    padding: 10px;
}

.required-label {
    color: red; /* Star color */
  }

.section{
    background-color: white;
    border-radius: 10px;
    width: 311px;
    height: 154px;
    padding: 5%;
    margin-bottom: 10px;
}
.section1{
    background-color: white;
    border-radius: 10px;
    width: 311px;
    height: 160px;
    padding: 5%;
    margin-bottom: 10px;
}
.section2{
    background-color: white;
    border-radius: 10px;
    width: 311px;
    height: 236px;
    padding: 5%;
    margin-bottom: 10px;
}
.section3{
    background-color: white;
    border-radius: 10px;
    width: 311px;
    height: 16px;
    padding: 5%;
    margin-bottom: 10px;
}

.section4{
    margin-bottom: 10px;
}


.section4 input[type="submit"] {
    border-radius: 5px; /* Adjust value as needed */
    padding: 10px 20px;  /* Optional: Add some padding for a better look */
    background-color: rgb(109, 6, 109); /* Optional: Add a background color */
    color: white; /* Optional: Text color */
    border: none; /* Optional: Remove border for a cleaner look */
    cursor: pointer; /* Optional: Change cursor to pointer */
}

.section4 input[type="submit"]:hover {
    background-color: #0056b3; /* Optional: Change background on hover */
}


